<div class="quotation-data container-fluid" style="margin-top: 20px;">
  <mat-toolbar style="justify-content: space-between">
    <div class="toolbar-right-content">
      <button matTooltip="Back" mat-flat-button style="background: #f5f5f5;" (click)="location.back()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <span>Quotations {{staffTitleText}}</span>
    </div>
    <div *ngIf="!isHandset">
      <button mat-button (click)="exportAsCSV()">Export as CSV</button>
      <small style="margin-right: 10px;">
        From:
        <mat-form-field class="fromDate" style="width: 100px;" floatLabel="never">
          <input matInput [matDatepicker]="picker" name="fromDate" [(ngModel)]="filterData.fromDate"
                 placeholder="Choose a date" (dateChange)="filterByDate(filterData)">
          <mat-datepicker-toggle matSuffix [for]="picker" matTooltip="Select From Date"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        To:
        <mat-form-field class="toDate" style="width: 100px;" floatLabel="never">
          <input matInput [matDatepicker]="picker2" name="toData" [(ngModel)]="filterData.toDate"
                 placeholder="Choose a date" (dateChange)="filterByDate(filterData)">
          <mat-datepicker-toggle matSuffix [for]="picker2" matTooltip="Select To Date"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </small>
      <mat-form-field floatLabel="never" style="width: 85px;margin-right: 10px;">
        <mat-label>All</mat-label>
        <mat-select (selectionChange)="router.navigate(['/quotations/status/', status])" [(ngModel)]="status">
          <mat-option *ngFor="let qs of quotaStatus" value="{{qs}}">{{qs}}</mat-option>
        </mat-select>
      </mat-form-field>


      <button matTooltip="Change filter type" mat-button [matMenuTriggerFor]="menu"
              style="line-height: 0;border-bottom: 1px solid black;border-radius: 0px;"><i class="material-icons">
        search
      </i>
        <div class="mat-select-arrow-wrapper">
          <div class="mat-select-arrow"></div>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeSearchParam('Filter by company name',1)">Filter by company name</button>
        <button mat-menu-item (click)="changeSearchParam('Filter anything',2)">Filter anything</button>
      </mat-menu>
      <mat-form-field style="min-width: 250px; max-width: 350px;" floatLabel="never">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{filterFieldPlaceholder}}"
               [(ngModel)]="searchValue">
        <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear"
                (click)="applyFilter(searchValue='')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button *ngIf="permission.qms.qms_create" mat-mini-fab (click)="router.navigate(['/quotation/add'])">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngIf="isHandset"  style="justify-content: space-between">
      <button *ngIf="permission.qms.qms_create" mat-mini-fab (click)="router.navigate(['/quotation/add'])" style="float: left;margin: 7px;">
        <mat-icon>add</mat-icon>
      </button>
      <mat-sidenav-container class="sidenav-container .mat-elevation-z6">
        <mat-sidenav #drawer class="sidenav"
                     [ngClass]="{hidden:!(isHandset) === true}"
                     fixedInViewport="true"
                     [attr.role]="(isHandset) ? 'dialog' : 'navigation'"
                     [mode]="(isHandset) ? 'over' : 'side'"
                     [opened]="false" position="end">
          <mat-toolbar>
            <button mat-flat-button (click)="drawer.toggle()">X</button>
          </mat-toolbar>
          <mat-nav-list>
            <div class="list-item">
              <button mat-button (click)="exportAsCSV()">Export as CSV</button>
            </div>
            <div class="list-item">
              <small>
                From:
                <mat-form-field style="width: 77%;" class="fromDate" floatLabel="never">
                  <input matInput [matDatepicker]="picker" name="fromDate" [(ngModel)]="filterData.fromDate"
                         placeholder="Choose a date" (dateChange)="filterByDate(filterData)">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </small>
            </div>
            <div class="list-item">
              <small>
                To:
                <mat-form-field style="width: 92%;" class="toDate" floatLabel="never">
                  <input matInput [matDatepicker]="picker2" name="toData" [(ngModel)]="filterData.toDate"
                         placeholder="Choose a date" (dateChange)="filterByDate(filterData)">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </small>
            </div>
            <div class="list-item">
              <mat-form-field style="width: 100%;" floatLabel="never">
                <mat-label>All</mat-label>
                <mat-select (selectionChange)="router.navigate(['/quotations/status/', status])" [(ngModel)]="status">
                  <mat-option *ngFor="let qs of quotaStatus" value="{{qs}}">{{qs}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="list-item">
              <button mat-button [matMenuTriggerFor]="menu"
                      style="line-height: 0;padding-bottom: 1px;border-bottom: 1px solid black;border-radius: 0px;"><i
                class="material-icons">
                search
              </i>
                <div class="mat-select-arrow-wrapper">
                  <div class="mat-select-arrow"></div>
                </div>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="changeSearchParam('Filter by company name', 1)">Filter by company name
                </button>
                <button mat-menu-item (click)="changeSearchParam('Filter anything', 2)">Filter anything</button>
              </mat-menu>
              <mat-form-field floatLabel="never">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{filterFieldPlaceholder}}">
              </mat-form-field>
            </div>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <mat-toolbar>
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
          </mat-toolbar>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <div class="float-left statusCtlBtn" style="float: left;" *ngIf="selectedQuotation && permission.qms.qms_status">
        <div *ngIf="!isHandset">
          <button mat-stroked-button [disabled]="!this.clickedDiv || selectedQuotation.status=='Preparing'" (click)="markAs('Preparing')">Mark as Preparing</button>
          <button mat-stroked-button [disabled]="!this.clickedDiv || selectedQuotation.status=='Ready'" (click)="markAs('Ready')">Mark as Ready</button>
          <button mat-stroked-button [disabled]="!this.clickedDiv || selectedQuotation.status=='Win'" (click)="markAs('Win')">Mark as Win</button>
          <button mat-stroked-button [disabled]="!this.clickedDiv || selectedQuotation.status=='Loss'"(click)="markAs('Loss')">Mark as Loss</button>
          <button mat-stroked-button [disabled]="!this.clickedDiv || selectedQuotation.status=='Pending'" (click)="markAs('Pending')">Mark as Pending</button>
        </div>
        <div *ngIf="isHandset">
          <button mat-button [disabled]="!this.clickedDiv" [matMenuTriggerFor]="statusAction" style="padding-bottom: 1px;border-bottom: 1px solid black;border-radius: 0px;">
            Mark as
            <div class="mat-select-arrow-wrapper">
              <div class="mat-select-arrow"></div>
            </div>
          </button>
          <mat-menu #statusAction="matMenu">
            <button mat-menu-item (click)="markAs('Preparing')">Preparing</button>
            <button mat-menu-item (click)="markAs('Ready')">Ready</button>
            <button mat-menu-item (click)="markAs('Win')">Win</button>
            <button mat-menu-item (click)="markAs('Loss')">Loss</button>
            <button mat-menu-item (click)="markAs('Pending')">Pending</button>
          </mat-menu>
        </div>
      </div>
      <div class="right" style="float: right;">
        <div class="associates" style="float: left;">
          <button mat-icon-button *ngIf="routerPath!='quotations/staff/'" [disabled]="!clickedDiv" matTooltip="View all quotations of this staff" color="accent" (click)="router.navigate(['quotations/staff/',selectedQuotation.contactByUsername])">
            <i class="material-icons">
              verified_user
            </i>
          </button>
          <button *ngIf="permission.qms.qms_history" mat-icon-button [disabled]="!clickedDiv || selectedQuotation.history.length<1" matTooltip="Update List" color="accent" (click)="router.navigate(['quotation/history/',selectedQuotation.id])">
            <i class="material-icons">
              playlist_add_check
            </i>
          </button>
          <button *ngIf="permission.qms.qms_revise" mat-icon-button [disabled]="!clickedDiv || selectedQuotation.revision.length<1" matTooltip="Revision" color="accent" (click)="OpenRevision(selectedQuotation)">
            <i class="material-icons">
              format_list_bulleted
            </i>
          </button>
          <button *ngIf="permission.qms.qms_product" [disabled]="!clickedDiv || selectedQuotation.productList.length<1" matTooltip="View product list" mat-icon-button color="accent"
                  (click)="openProductList(selectedQuotation.productList, selectedQuotation.quotaNo)"><i
            class="material-icons">
            remove_red_eye
          </i></button>
        </div>
        <div class="controllers" style="float: right;">
          <button *ngIf="permission.qms.qms_delete" [disabled]="!clickedDiv" matTooltip="Delete" mat-icon-button color="warn"
                  (click)="deleteQuotation(selectedQuotation.id)">
            <mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon>
          </button>
          <span *ngIf="selectedQuotation">
            <button *ngIf="permission.qms.qms_update && selectedQuotation.printCount==0" [disabled]="!clickedDiv"  matTooltip="Update" mat-icon-button
                    color="accent" (click)="router.navigate(['/quotation/update/', selectedQuotation.id])">
            <mat-icon aria-hidden="false" aria-label="edit icon">edit</mat-icon>
          </button>
          <button *ngIf="permission.qms.qms_update && selectedQuotation.printCount!=0" [disabled]="!clickedDiv"  matTooltip="Revise" mat-icon-button
                  color="accent" (click)="router.navigate(['/quotation/revise/'+selectedQuotation.id+'/add'])"
                  style="position: relative;">
            <i class="material-icons" style="font-size: 35px">
              repeat
            </i><sub style="position: absolute;top: 1px;left: 10px;width: 20px;text-align: center;font-size: 11px;" *ngIf="clickedDiv">{{selectedQuotation.revision.length}}</sub>
          </button>
          </span>
          <button *ngIf="permission.qms.qms_pdf" [disabled]="!clickedDiv || selectedQuotation.productList.length<1||selectedQuotation.state=='Incomplete'"  matTooltip="Print" mat-icon-button color="primary"
                  (click)="gotoPDF(selectedQuotation)">
            <i class="material-icons">
              print
            </i>
          </button>
        </div>
      </div>
      <mat-spinner *ngIf="showSpinner"></mat-spinner>
      <table mat-table [dataSource]="quotations" class="mat-elevation-z8 table-responsive" matSort *ngIf="!showSpinner">

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
          <td mat-cell *matCellDef="let element"> {{element.date*1000 | date}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="quota">
          <th mat-header-cell *matHeaderCellDef> Quota No.</th>
          <td mat-cell *matCellDef="let element"> {{element.quotaNo}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef> Company Name</th>
          <td mat-cell *matCellDef="let element"> {{element.companyName}}</td>
        </ng-container>
        <ng-container matColumnDef="cumulativePrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cumulative Price</th>
          <td mat-cell *matCellDef="let element"><span *ngIf="element.cumulativePrice">{{formatedPrice(element.cumulativePrice)}}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="person">
          <th mat-header-cell *matHeaderCellDef> Contact Person</th>
          <td mat-cell *matCellDef="let element"> {{element.contactPerson}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
          <td mat-cell *matCellDef="let element"> {{element.status}}</td>
        </ng-container>
        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef> Contact By</th>
          <td mat-cell *matCellDef="let element"> {{element.contactBy}}</td>
        </ng-container>
        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef> Remarks</th>
          <td mat-cell *matCellDef="let element"> {{element.remarks}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr style="cursor:pointer;" mat-row (click)="selectRow(row)" [class]="clickedDiv==row.id?'mat-row ng-star-inserted selected':'mat-row ng-star-inserted'" *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[25,50,100,150,200,500]" *ngIf="!showSpinner"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
