.mat-form-field, .example-full-width, .example-form{
  width: 100%;
}
#add_quotation_form_page{
  width: 50%; margin: 50px auto;
}
@media only screen and (max-width: 600px) {
  #add_quotation_form_page{
    width: 100%; margin: 50px auto;
  }
}
@media only screen and (max-width: 800px) {
  #add_quotation_form_page{
    width: 90%; margin: 50px auto;
  }
}
#singleProduct{
  margin: 10px -24px;
  padding: 10px 20px;
  border: 1px solid #D7CFAE;
  background: #e9eef1;
}
mat-expansion-panel-header{
  height: 40px!important;
}
mat-progress-bar{
  margin-bottom: 10px;
}
