<mat-sidenav-container class="sidenav-container .mat-elevation-z6">
  <mat-sidenav #drawer class="sidenav"
      [ngClass]="{hidden:!(isHandset) === true}"
       fixedInViewport="false"
      [attr.role]="(isHandset) ? 'dialog' : 'navigation'"
      [mode]="(isHandset) ? 'over' : 'side'"
      [opened]="(isHandset) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/quotations">Manage Quotations</a>
      <a *ngIf="showNotificationIcon" mat-list-item routerLink="/notification'">
        <mat-icon>notifications</mat-icon>Notification <span class="example-fill-remaining-space"></span> <sup style="float: right;">{{notificationCounter}}</sup>
      </a>
      <a mat-list-item [matMenuTriggerFor]="menu">
        <mat-icon>apps</mat-icon>
      </a>
      <mat-menu #menu="matMenu">
        <div *ngFor="let app of user.appList">
          <button mat-menu-item (click)="TravelAnother(app.url)">
            <span>{{app.appName}}</span>
          </button>
        </div>
      </mat-menu>
      <a mat-list-item [matMenuTriggerFor]="usermenu">
        <mat-icon>person</mat-icon>{{user.user.fullName}}
      </a>
      <mat-menu #usermenu="matMenu">
        <button mat-menu-item>
          <span>{{user.user.fullName}}</span>
        </button>
        <button mat-menu-item (click)="getLogOut()">
          <span>Log Out</span>
        </button>
      </mat-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="padding: 0 40px;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/" style="color: white; text-decoration: none"><span>Quotation-Management</span></a>
      <span class="example-fill-remaining-space"></span>
      <span class="spacer" [ngClass]="{hidden:!(isHandset) === false}">
        <button mat-flat-button color="primary" (click)="router.navigate(['/'])" style="padding: 14px;font-size: 18px">Home</button>
        <button mat-flat-button color="primary" (click)="router.navigate(['/quotations'])" style="padding: 14px;font-size: 18px">Manage Quotations</button>
        <span *ngIf="showNotificationIcon">
          <button mat-icon-button (click)="router.navigate(['/notification'])">
            <mat-icon>notifications</mat-icon><sup>{{notificationCounter}}</sup>
          </button>
        </span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>apps</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div *ngFor="let app of user.appList">
            <button mat-menu-item (click)="TravelAnother(app.url)">
              <span>{{app.appName}}</span>
            </button>
          </div>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="usermenu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #usermenu="matMenu">
          <button mat-menu-item>
              <span>{{user.user.fullName}}</span>
          </button>
          <button mat-menu-item (click)="getLogOut()">
              <span>Log Out</span>
          </button>
        </mat-menu>
      </span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
