.mat-form-field, .example-full-width, .example-form{
  width: 100%;
}
#add_product_form_page{
  width: 50%; margin: 50px auto;
}
@media only screen and (max-width: 600px) {
  #add_product_form_page{
    width: 100%; margin: 10px auto;
  }
}
@media only screen and (max-width: 800px) {
  #add_product_form_page{
    width: 90%; margin: 30px auto;
  }
}
