/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-reboot.css";
@import "~normalize.css/normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
html, body{
  height: 100%;
}
button:focus {
  outline: none;
}
