<div class="container">
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Total Product</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="d-data">
            {{dashboardData.totalProduct}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Booked Product</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="d-data">
            {{dashboardData.bookedProduct}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Lent Product</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="d-data">
            {{dashboardData.lentProduct}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Upcoming Product</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="d-data">
            {{dashboardData.upcomingProduct}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>In Stock Product</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="d-data">
            {{dashboardData.inStockProduct}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
