<div id="update_product_form_page">
  <mat-toolbar color="primary">
    <button matTooltip="Back" mat-flat-button color="primary" (click)="location.back()"><mat-icon>keyboard_arrow_left</mat-icon></button>
    Update product
  </mat-toolbar>

  <mat-card>
    <form class="update-product-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h4>Product Information</h4>
      <div class="row" id="update_quotation_form_row">
        <div class="col-md-6">
          <div class="input-group">
            <mat-form-field class="productName">
              <input matInput placeholder="Product Name" type="text" formControlName="productName" autofocus required>
              <mat-error>Field is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <mat-form-field class="productPartNo">
              <input matInput placeholder="Part No." type="text" formControlName="productPartNo" required>
              <mat-error>Field is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <mat-form-field class="productType">
              <input matInput placeholder="Type" type="text" formControlName="productType" required>
              <mat-error>Field is required</mat-error>
            </mat-form-field>
            <small style="color: red;" *ngIf="dirty">Duplicate type error</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group">
            <mat-form-field class="category">
              <mat-label>Category</mat-label>
              <mat-select formControlName="productCategory" required>
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{category}}
                </mat-option>
              </mat-select>
              <mat-error>Field is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3" *ngIf="permission.pms.pms_price_log">
          <div class="input-group">
            <mat-form-field class="price">
              <input matInput placeholder="Sales Unit Price" type="number" formControlName="productPrice" required>
              <mat-error *ngIf="form.get('productPrice').hasError('required')">Field is required</mat-error>
              <mat-error *ngIf="form.get('productPrice').hasError('min')">Price can't be negative</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3" *ngIf="permission.pms.pms_price_log">
          <div class="input-group">
            <mat-form-field class="price">
              <input matInput placeholder="Base Unit Price" type="number" formControlName="productBasePrice" required>
              <mat-error *ngIf="form.get('productBasePrice').hasError('required')">Field is required</mat-error>
              <mat-error *ngIf="form.get('productBasePrice').hasError('min')">Price can't be negative</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div [class]="permission.pms.pms_price_log?'col-md-3':'col-md-4'">
          <div class="input-group">
            <mat-form-field class="stock">
              <input matInput placeholder="In Stock" type="number" formControlName="productInStock" required>
              <mat-error *ngIf="form.get('productInStock').hasError('required')">Field is required</mat-error>
              <mat-error *ngIf="form.get('productInStock').hasError('min')">Stock can't be negative</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div [class]="permission.pms.pms_price_log?'col-md-3':'col-md-4'">
          <div class="input-group">
            <mat-form-field class="origin">
              <input matInput placeholder="Country of origin" type="text" formControlName="productOrigin">
              <mat-error>Field is required</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <mat-form-field class="uuq">
              <input matInput placeholder="Upcoming product" type="number" formControlName="productUuq" required>
              <mat-error *ngIf="form.get('productUuq').hasError('required')">Field is required</mat-error>
              <mat-error *ngIf="form.get('productUuq').hasError('min')">Upcoming quantity can't be negative</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div [class]="permission.pms.pms_price_log?'col-md-4':'col-md-6'">
          <div class="input-group">
            <mat-form-field class="loan">
              <input matInput placeholder="Lent product" type="number" formControlName="productLoan" required>
              <mat-error *ngIf="form.get('productLoan').hasError('required')">Field is required</mat-error>
              <mat-error *ngIf="form.get('productLoan').hasError('min')">Lent quantity can't be negative</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div [class]="permission.pms.pms_price_log?'col-md-4':'col-md-6'">
          <div class="input-group">
            <mat-form-field class="booking">
              <input matInput placeholder="Booked product" type="number" formControlName="productBooking" required>
              <mat-error *ngIf="form.get('productBooking').hasError('required')">Field is required</mat-error>
              <mat-error *ngIf="form.get('productBooking').hasError('min')">Booking quantity can't be negative</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12">
          <div class="input-group">
            <mat-form-field class="description">
              <textarea matInput placeholder="Description" formControlName="productDescription" required></textarea>
              <mat-error>Field is required</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div align="start" style="margin-top: 10px;">
        <button mat-raised-button color="primary">Save</button>
      </div>
    </form>
  </mat-card>
</div>
