<div id="add_quotation_form_page">
  <mat-toolbar color="primary">
    <button mat-flat-button color="primary" (click)="location.back()"><mat-icon>keyboard_arrow_left</mat-icon></button>
    Update company
  </mat-toolbar>
  <mat-card>
    <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h4>Company Information</h4>
      <div class="row" id="add_quotation_form_row">
        <div class="col-md-12">
          <div class="input-group">
            <mat-form-field class="company">
              <input matInput placeholder="Company Name" formControlName="companyName" required>
              <mat-error>Field is required</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div formArrayName="branch" *ngFor="let branch of form.get('branch')['controls']; let i=index">
        <div [formGroupName]="i" style="margin-bottom: 15px;">
          <div class="branch-info-header-txt">
            <div class="row" style="background: #aacccb;">
              <div class="col-10"><h4 style="margin: 8px 0px;">Branch Information</h4></div>
              <div class="col-2">
                <div align="end">
                  <button mat-icon-button [disabled]="form.get('branch').invalid" *ngIf="form.get('branch')['controls'].length==i+1" color="primary" type="button" (click)="makeNewBranch()">
                    <i class="material-icons">
                      add
                    </i>
                  </button>
                  <button mat-icon-button *ngIf="form.get('branch')['controls'].length>1" color="warn" type="button" (click)="removeBranch(i)"><i class="material-icons">
                    delete
                  </i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-content" style="border: 1px solid #aac1c9;margin: -1px;padding: 5px;background: #f2f9f9;">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <mat-form-field class="branch_name">
                    <input matInput placeholder="Branch name" formControlName="branchName" required>
                    <mat-error>Field is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <mat-form-field class="branch_address">
                    <input matInput placeholder="Branch address" formControlName="branchAddress" required>
                    <mat-error>Field is required</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div formArrayName="contactPerson" *ngFor="let contact of branch.get('contactPerson').controls; let j=index">
              <div [formGroupName]="j">
                <div class="row">
                  <div class="col-md-3">
                    <div class="input-group">
                      <mat-form-field class="personName">
                        <input matInput placeholder="Person Name" formControlName="personName" required>
                        <mat-error>Field is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="input-group">
                      <mat-form-field class="personEmail">
                        <input matInput placeholder="Email" type="email" formControlName="personEmail" required>
                        <mat-error *ngIf="contact.get('personEmail').hasError('required')">Field is required</mat-error>
                        <mat-error *ngIf="contact.get('personEmail').hasError('email')">Invalid Email Address</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="input-group">
                      <mat-form-field class="personNumber">
                        <input matInput placeholder="Contact Number" formControlName="personNumber" required>
                        <mat-error>Field is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="input-group">
                      <mat-form-field class="personDesignation">
                        <input matInput placeholder="Designation" formControlName="personDesignation" required>
                        <mat-error>Field is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="row" align="end">
                      <div class="col-6">
                        <button mat-icon-button [disabled]="contact.invalid" *ngIf="branch.get('contactPerson').controls.length==j+1" color="accent" type="button" (click)="makeNewContact(branch)">
                          <i class="material-icons">
                            add
                          </i>
                        </button>
                      </div>
                      <div class="col-6">
                        <button mat-icon-button *ngIf="branch.get('contactPerson').controls.length>1" type="button" (click)="RemoveContact(branch,j)">
                          <i class="material-icons">
                            delete
                          </i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!--Branch form array-->
      <div align="start">
        <button mat-raised-button color="primary">Save</button>
      </div>
    </form>
  </mat-card>
</div>
