.mat-form-field, .example-full-width, .example-form{
  width: 100%;
}
#add_quotation_form_page{
  width: 70%; margin: 50px auto;
}
@media only screen and (max-width: 600px) {
  #add_quotation_form_page{
    width: 100%; margin: 50px auto;
  }
}
@media only screen and (max-width: 800px) {
  #add_quotation_form_page{
    width: 80%; margin: 50px auto;
  }
}
